html {
  box-sizing: border-box;
  font: normal 100%/1.5 sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

div {
  padding: .81em;
  margin: .3rem;
  text-align: center;
  text-decoration: none;
}

.box-1 {
  margin: 0 0 .3rem;
  margin-top: .3em;
  text-align: center;
  text-decoration: none;
}

.box-2 {
  margin: 0  0 .3rem;
  margin-top: .3em;
  text-align: center;
  text-decoration: none;
}

.box-3 {
  margin: 0 0 .3rem;
  margin-top: .3em;
  text-align: center;
  text-decoration: none;
}

.btn {
  display: inline-block;
  font-size: 1.125rem;
}

.btn, .btn-small, .btn-big {
  background-color: #333;
  color: #fff;
}

.btn-small {
  font-size: .875rem;
}

.btn-big {
  font-size: 1.5rem;
}

.btn-subtle {
  border: #ccc 3px solid;
}

.btn-subtle, .btn-small-subtle, .btn-big-subtle {
  background-color: #ccc;
  color: #fff;
}

.btn-small-subtle, .btn-big-subtle {
  border: #ccc 3px solid;
}

.btn-ghost {
  border: #000 3px solid;
}

.btn-ghost, .btn-small-ghost, .btn-big-ghost {
  color: #000;
  background-color: #fff;
}

.btn-small-ghost, .btn-big-ghost {
  border: #000 3px solid;
}

.btn-warning {
  background-color: #f33;
  color: #fff;
}

.btn-small-warning {
  background-color: #f33;
  color: #fff;
}

.btn-big-warning {
  background-color: #f33;
  color: #fff;
}

.btn-warning .btn-small-warning .btn-big-warning {
  border: #f33 3px solid;
}

.first {
  font-size: 1.125rem;
  border-radius: 8px;
  padding: .4em .75em .3em;
  margin: 0;
  text-decoration: none;
}

.sec {
  font-size: .875rem;
  border-radius: 8px;
  padding: .4em .75em .3em;
  margin: 0;
  text-decoration: none;
}

.third {
  font-size: 1.5rem;
  border-radius: 8px;
  padding: .4em .75em .3em;
  margin: 0;
  text-decoration: none;
}

.btn-subtle:hover {
  background-color: #666;
  border: #666 3px solid;
}

.btn-warning:hover {
  background-color: #933;
}

.btn-ghost:hover {
  background-color: #666;
  color: #fff;
  border: #666 3px solid;
}

.btn:hover {
  background-color: #000;
}
